<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{:: title})">
    <meta charset="UTF-8">
    <!--首先完成移动端的预览设置问题,设备的宽度初始缩放倍数为1.0倍，这里还可以设置用户禁止缩放等等-->
    <meta name="viewport" content="device-width,initial-scale=1.0">
    <title>归档</title>
    <!--接下来进行semanticUI的css CDN的引用-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!--引入我们自己写的css-->
    <link rel="stylesheet" href="../static/css/me.css">
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"-->
<!--          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">-->
</head>
<body>
<!-- 数字雨 -->
<canvas id="canvas" ></canvas>
<!--导航栏-->
<nav th:replace="_fragments :: menu(4)"></nav>

<!--中部主体-->
<div class="item ">
    <div id="timeline">
        <section class="year" th:each="blid,Stat : ${timeLineMap}" th:if="${not #lists.isEmpty(timeLineMap)}">
            <h3 style="color: white" th:text="${Stat.current.key}">2022.01</h3>
            <section>
                <ul>
                    <div th:each="tlblog : ${Stat.current.value}">
                        <li>
                            <a class="font-color" th:href="@{/blog/{blogId}(blogId=${tlblog.blogId})}" href="#"
                               th:text="${tlblog.title}">title</a>
                            <span style="color: #00ff00;font-size: 1em" th:text="${tlblog.date}">6-01</span>
                        </li>
                    </div>
                </ul>
            </section>
        </section>
    </div>
</div>

<!--板娘-->
<div class="waifu">
    <div class="waifu-tips"></div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
</div>


<link rel="stylesheet" href="../static/css/timeline.css" th:href="@{/css/timeline.css}">

<!--    公共script 也许用到的jQuery的引用，这里进行semanticUI的js 的CDN的引用，板娘，数字雨 -->
<th:block th:replace="_fragments :: script"/>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });


    $('#payButton').popup({
        popup: $('.payQR.popup'),
        on: 'click',
        position: 'bottom center'
    });
    $('.ui.accordion')
        .accordion()
    ;
</script>
</body>
</html>