<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{:: title})">
    <meta charset="UTF-8">
    <!--首先完成移动端的预览设置问题,设备的宽度初始缩放倍数为1.0倍，这里还可以设置用户禁止缩放等等-->
    <meta name="viewport" content="device-width,initial-scale=1.0">
    <title>友链</title>
    <!--接下来进行semanticUI的css CDN的引用-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!--引入我们自己写的css-->
    <link rel="stylesheet" href="../static/css/me.css">

<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"-->
<!--          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">-->
</head>
<body>
<!--粒子特效-->
<!--<canvas id="theCanvas"></canvas>-->
<!-- 数字雨 -->
<canvas id="canvas" ></canvas>
<!--导航栏-->
<nav th:replace="_fragments :: menu(6)" class="ui   attached segment m-padded-tb-mini m-shadow-small">

</nav>

<!--中部主体-->
<div class="m-padded-tb-large ">
    <div class="ui stackable container m-container-nine">
        <h3 class="ui header m-text"><i class="fab fa-wolf-pack-battalion"></i>推荐网站:</h3>
        <br>
        <div class="ui cards ">
            <a th:href="@{${friend.website}}" th:if="${friend.flag}==1" th:each="friend : ${friends}"
               class="orange card m-card-center">
                <div class="content">
                    <div th:text="${friend.name}" class="header" href="#">Cute Dog</div>
                    <p th:text="${friend.description}"></p>
                </div>
            </a>
        </div>

        <div class="ui  section divider m-padded-tb"></div>
        <div class="ui stackable  grid">
            <div class="ui eleven wide column">
                <h3 class="ui header m-text"><i class="fas fa-users"></i>友情链接:</h3>
                <br>
                <div class="ui link cards">
                    <a th:href="@{${friend.website}}" th:if="${friend.flag}==2" th:each="friend : ${friends}"
                       class="teal card m-card-center">
                        <!--<div  class="image">-->
                        <!--<img th:src="${friend.avatar}" src="../static/images/molly.png">-->
                        <!--</div>-->
                        <div class="content">
                            <div th:text="${friend.name}" class="header">Molly</div>
                            <!--<div class="meta">-->
                            <!--<span class="date" th:text="${friend.occupation}">Coworker</span>-->
                            <!--</div>-->
                            <div class="description" th:text="${friend.description}">
                                Molly is a personal assistant living in Paris.
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui  section divider m-padded-tb"></div>
        <div class="ui stackable  grid">
            <div class="ui eleven wide column">
                <h3 class="ui header m-text"><i class="fas fa-users"></i>工具网站:</h3>
                <br>
                <div class="ui link cards">
                    <a th:href="@{${friend.website}}" th:if="${friend.flag}==3" th:each="friend : ${friends}"
                       class="teal card m-card-center">
                        <div class="content">
                            <div th:text="${friend.name}" class="header">Molly</div>
                            <div class="description" th:text="${friend.description}">
                                Molly is a personal assistant living in Paris.
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br>


<!--底部footer栏-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">

</footer>

<!--粒子特效-->
<!--<script src="../static/js/particle_effects.js" th:src="@{/js/particle_effects.js}"></script>-->
<!-- 数字雨 -->
<script src="../static/js/digital_rain.js" th:src="@{/js/digital_rain.js}"></script>
<!--也许用到的jQuery的引用-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!--这里进行semanticUI的js 的CDN的引用 -->
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });


    $('#payButton').popup({
        popup: $('.payQR.popup'),
        on: 'click',
        position: 'bottom center'
    });

</script>
</body>
</html>